.credits {
	position: fixed;
	bottom: 0;
	right: 0;

	& > ul {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 5rem;
		height: 2.5rem;

		& > li {
			margin: 0 0.25rem;

			& > a {
				color: var(--light-300);
				transition: 0.2s;

				&:hover {
					color: var(--red-500);
				}
			}
		}
	}
}
